
body{
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    padding-top: 120px;
}

.navbar-default {
    background-color: #fff;
}

.navbar {
    margin-bottom: 0;
    padding: 15px;
}

.navbar-inverse .navbar-nav>li>a {
    
    color: #bbb;
}

.cbp-af-header-shrink {
    padding-top: 5px;
    padding-bottom: 5px;
}

.cbp-af-header-shrink .nav.navbar-nav.navbar-right {
    padding-top: 10px;
}

.cbp-af-header-shrink img {
    width: 70%;
}

/*.nav.navbar-nav.navbar-right {
    padding-top: 25px;
}*/

.fill-screen {
    background-size: cover;
    background-position: center; 
}

footer {
    background-color: #333;
    color: #ddd;
    text-align: center;
    padding: 20px;    
}